@model IEnumerable<DotNetCore_Crud.Models.Employee>

<h4>Employee Index</h4>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Employee</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>
                    @employee.FullName
                </td>
                <td>
                    @employee.Position
                </td>
                <td>
                    @employee.Office
                </td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@employee.Id" class="btn btn-warning"> Edit </a>
                    <a asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger ml-1"
                       onclick="return confirm('Are you sure to delete this record ? ')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>